.post {
  max-width: 40em;
  line-height: 1.5;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: auto 300px;
}

.post > * {
  grid-column: 1 / 1;
}

.post p,
.post ul {
  margin: 0;
}

.post p + p,
.post ul + p,
.post ul + ul,
.post p + ul {
  margin: 2rem 0;
}

.post ul ul {
  margin: 0;
}

.float-left {
  display: block;
  margin: 0 auto 1.5rem;
}

@media screen and (min-width: 768px) {
  .float-left {
    float: left;
    margin: 0 2.5rem 1.5rem 0;
  }
}

.post blockquote {
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  border-left: 3px solid var(--color-highlight);
}

.post blockquote > p {
  margin: 0;
}

.post h2 {
  margin-top: 4rem;
}

.post h3 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}

.post code[class*="language-"],
.post pre[class*="language-"] {
  margin: 2rem 0;
}