ul.projectsList {
  list-style-type: none;
  padding: 0;
}

ul.projectsList li::before {
  content: '';
}

.projectsList li + li {
  margin-top: 1rem;
}

.projectsListMeta {
  margin: 0;
  color: var(--color-grey-mid);
}

.projectsListMeta span {
  display: inline-block;
  margin-left: 0.25rem;
  color: var(--color-grey-light);
}

.roleMeta {
  margin: 0;
}

.roleLink, .roleDuration {
  font-size: 1.125rem;
  line-height: 1.3;
}

.roleDuration {
  display: block;
  color: var(--color-grey-mid);
}

@media screen and (min-width: 768px) {
  .roleLink, .roleDuration {
    font-size: 1.25rem;
  }

  .roleDuration {
    display: inline-block;
  }
}

.roleDetails:first-child > *:first-child {
  margin-top: 0;
}
